/* Global */
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

/* ol, ul {
    padding-left: 0px;
} */

/* For Dumb board */
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    float: left;
    font-weight: bold;
    /* margin: 1px; */
    padding: 0;
    text-align: center;
    /* works with screen width of 500 for game, not setup*/
    /* font-size: 24px;
    line-height: 33px;
    height: 33px;
    width: 33px; */
    /* small enough to work for everything */
    /* font-size: 17px;
    line-height: 22px;
    height: 22px;
    width: 22px; */
    /* this too */

    /* original values */
    /* font-size: 34px;
    line-height: 44px;
    height: 44px;
    width: 44px; */

    /* font-size: 10px;
    line-height: 12px;
    height: 12px;
    width: 12px; */
}

@media only screen and (max-width: 375px) {
    .square {
        font-size: 8px;
        line-height: 10px;
        height: 10px;
        width: 10px;
    }    
}

@media only screen and (min-width: 375px) {
    .square {
        font-size: 17px;
        line-height: 20px;
        height: 20px;
        width: 20px;
    }    
}

@media only screen and (min-width: 400px) {
    .square {
        font-size: 20px;
        line-height: 23px;
        height: 23px;
        width: 23px;
    }    
}

@media only screen and (min-width: 565px) {
    .square {
        font-size: 34px;
        line-height: 44px;
        height: 44px;
        width: 44px;    
    }    
}

.square-white {
    background-color: #fff;
}

.square-black {
    background-color: #aaa;
}

.square-highlighted {
    border: 3px blue solid;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

/* Experimental, doesn't seem to work */
/* .board-row {
    border: 3px blue solid;
    display: flex;
    flex-direction: row;
} */
    /* display: inline-block; */

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

div:hover > #hov {
    display: block;
    /* cursor: none; */
}

#hov{
    display: none;
    position: absolute;
    /* cursor: none; */
    font-size: 34px;
    pointer-events: none;
}

@media only screen and (max-width: 375px) {
    #hov {
        font-size: 8px;
    }    
}

@media only screen and (min-width: 375px) {
    #hov {
        font-size: 17px;
    }    
}

@media only screen and (min-width: 400px) {
    #hov {
        font-size: 20px;
    }    
}

@media only screen and (min-width: 565px) {
    #hov {
        font-size: 34px;
    }    
}

/* For moves listing */
.grid-cell {
    border-spacing: 0px;
    /* border-collapse: collapse; */
    /* border: 1px solid black; */

    /* display: flex; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-size: medium; */
    /* font: 14px "Century Gothic", Futura, sans-serif; */
    font-size: 13px;
    width: 100%;
    background: #fff;
    border: 1px solid black;
    /* border: 0px solid black; */
    border-radius: 0px;
    margin: 0;
    padding: 2px 4px;
    /* float: left; */

    /* font-weight: bold; */
    /* line-height: 34px; */
    /* margin-right: -1px; */
    /* margin-top: -1px; */
    /* text-align: center; */
    /* width: 34px; */
}

.grid-cell-button:hover {
    background-color: #eee;
}

.grid-wrapper {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 40px 55px 55px;
    grid-column-gap: 0px;
    /* grid-auto-rows: minmax(10px, auto); */
}

.grid-top-row {
    grid-template-columns: 120px;
    width: 100%;
    text-align: center;
}

div.scroll { 
    /* margin:4px, 4px;  */
    /* padding:4px;  */
    background-color: #eee; 
    width: 150px; 
    border: 1px solid black;
    height: 330px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    /* text-align:justify;  */
} 

.status {
    margin-bottom: 10px;
}

/* Containers for Apps */
.game {
    /* display: block; */
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
}

.game-info {
    margin-left: 20px;
}
